{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
<style>
    .mark{
        font-size: 14px;
    }
    @media screen and (max-width: 770px){
        .mark{
            font-size: 10px;
        }
        .lessons{
            font-size: 9px;
        }
        
    }
    @media screen and (max-width: 378px){
        .lessons{
            font-size: 7px;
        }
        .mark{
            font-size: 8px;
        }
    }
</style>
{% endblock head %}
{% block main %}
<main>
    <div class="container">
        <h2 class="fs-2 my-2">Главная</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="border rounded mb-3 p-3">
                    <p class="fs-4">{% if today %}
                    {{today.day}}
                    {% else %}
                    Сегодня уроков нет
                    {% endif %}</p>
                    <div>
                        <table class="table table-dark rounded table-striped bg-dark table-hover lessons">
                            <thead>
                                <th>Предмет</th>
                                <th>Тема урока</th>
                                <th>Домашнее задание</th>
                                <th>Оценка</th>
                            </thead>
                            {% for lesson in today.lessons %}
                                <tr>
                                    <td>{{lesson.subject}}</td>
                                    <td>{% if lesson.homework %}{{lesson.topic}}{% endif %}</td>
                                    <td>{% if lesson.homework %}{{lesson.homework}}{% endif %}</td>
                                    <td>
                                        {% for mark in lesson.marksRaw %}
                                            <p class="badge mark
                                                {% if mark == '5' %}
                                                bg-success
                                                {% elif mark == '4' %}
                                                bg-primary
                                                {% elif mark == '3' %}
                                                bg-warning
                                                {% elif mark == '2' %}
                                                bg-danger
                                                {% elif mark == '1' %}
                                                bg-dark
                                                {% else %}
                                                bg-secondary
                                                {% endif %}
                                            ">{{mark}}</p>
                                        {% endfor %}
                                        <p class="text-secondary">{% if lesson.gradeType %}{{lesson.gradeType}}{% endif %}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="border rounded p-3 mb-3">
                    <h2 class="fs-4">Оценки этой недели: 
                        <span class="fs-5">
                            {% if week_marks.count5 %}<span class="text-success">{{week_marks.count5}} пятерок</span>{% endif %}
                            {% if week_marks.count4 %}<span class="text-primary">{{week_marks.count4}}  четверок</span>{% endif %}
                            {% if week_marks.count3 %}<span class="text-warning">{{week_marks.count3}}  троек</span>{% endif %}
                            {% if week_marks.count2 %}<span class="text-danger">{{week_marks.count2}}  двоек</span>{% endif %}
                            {% if week_marks.count1 %}<span class="text-black">{{week_marks.count1}}  едениц</span>{% endif %}
                        </span>
                    </h2>
                    <hr>
                    {% if week_marks.marks %}
                        {% for mark in week_marks.marks %}
                            <p class="badge fs-1 
                            {% if mark == '5' %}
                            bg-success
                            {% elif mark == '4' %}
                            bg-primary
                            {% elif mark == '3' %}
                            bg-warning
                            {% elif mark == '2' %}
                            bg-danger
                            {% elif mark == '1' %}
                            bg-dark
                            {% else %}
                            bg-secondary
                            {% endif %}
                            ">{{mark}}</p>
                        {% endfor %}
                    {% else %}
                        На этой неделе оценок пока нет
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                {# <div class="border rounded p-3">
                    <h2 class="fs-4">Таблица рейтингов</h2>
                    <hr>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th>Место</th>
                                <th>Имя Фамилия</th>
                                <th>Кол-во очков</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Имя Фамилия</td>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Имя Фамилия</td>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Имя Фамилия</td>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Имя Фамилия</td>
                                <td>100000</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Имя Фамилия</td>
                                <td>100000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="border rounded p-3 my-2">
                    <h2 class="fs-4">Твои награды</h2>
                    <hr>
                    <div class="d-flex flex-wrap">
                        <div class="w-25">
                            <img width="100%" src="https://benza.ru/upload/medialibrary/5ff/золотая%20медаль.png" alt="">
                            <p class="text-center fs-5">Молодец</p>
                        </div>
                        <div class="w-25">
                            <img width="100%" src="https://benza.ru/upload/medialibrary/5ff/золотая%20медаль.png" alt="">
                            <p class="text-center fs-5">Молодец</p>
                        </div>
                        <div class="w-25">
                            <img width="100%" src="https://benza.ru/upload/medialibrary/5ff/золотая%20медаль.png" alt="">
                            <p class="text-center fs-5">Молодец</p>
                        </div>
                        <div class="w-25">
                            <img width="100%" src="https://benza.ru/upload/medialibrary/5ff/золотая%20медаль.png" alt="">
                            <p class="text-center fs-5">Молодец</p>
                        </div>
                        <div class="w-25">
                            <img width="100%" src="https://benza.ru/upload/medialibrary/5ff/золотая%20медаль.png" alt="">
                            <p class="text-center fs-5">Молодец</p>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>
    </div>
</main>
{% endblock  %}